{% extends 'navigationbar.html' %}

{% block body %}

<div class="container" style="margin-top:60px">
    <h2 class="text-center text-primary font-weight-bold">Add New Plan</h2>
    <form method="post">
        {% csrf_token %}

        <!-- Plan Name -->
        <label><b>Plan Name</b></label>
        <input type="text" name="name" class="form-control" required>

        <!-- Plan Amount -->
        <label><b>Amount (in Rs.)</b></label>
        <input type="text" name="amount" class="form-control" required>

        <!-- Plan Duration -->
        <label><b>Duration (in Months)</b></label>
        <input type="number" name="duration" class="form-control" required>

        <!-- Optional: Description -->
        <label><b>Description</b></label>
        <textarea name="description" class="form-control"></textarea>

        <br>
        <input type="submit" value="Submit" class="form-control btn-primary">
    </form>
</div>

{% if error == "no" %}
<script>
    alert('Plan added successfully');
    window.location = "{% url 'view_plan' %}";
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong, Try Again');
</script>
{% endif %}

{% endblock %}
